body {
    background-color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: black;
    margin-right: 15px;
    margin-top: 10px;
  }

.header {
    float: inline-end;
    padding-top: 10px;
    padding-bottom: 5px;
    
    
}

#sign {
    border: 1px solid rgb(67, 135, 253);
    background-color:rgb(67, 135, 253);
    border-radius: 3px;
    color: white;
    padding: 5px 15px;
    margin-top: 5px;
}

.header:hover {
    text-decoration: underline;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 272px;
    max-width: 100%;
    height: 92px;
    padding-top: 6rem;
}

#icon {
    height: 20px;
    width: 20px;
    margin-top: 2px;
}

#search-bar {
    display: flex;
    margin: auto;
    width: 500px;
    margin-top: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    padding: 10px 14px 10px 14px;
}

input {
    display: block;
    width: 1000px;
    background-color: transparent;
    border: none;
    width: auto;
}

p {
    text-align: center;
}

li {
    margin: 4px 7px;
  }

li:hover {
    text-decoration: underline !important;
  }

.search-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

#lang {
    font-family: arial, sans-serif;
    font-size: small;
}

.lang {
    color: #0000EE;
}

.lang:hover {
    text-decoration: underline;
}

#gsearch {
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-right: 10px;
    background-color:#f0f0f0;
    color: #808080;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#lucky {
    cursor: pointer;
    font-size: small;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-left: 10px;
    background-color:#f0f0f0;
    color: #808080;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

footer {
    color: rgba(0,0,0,.54);
    background-color: rgb(240, 240, 240);
    display: block;
    overflow: hidden;
    position: fixed;
    padding: 0px;
    bottom: 0 !important;
    width: 100% ; 
    border: 1px lightgray solid;
    font-family: arial, sans-serif;
    font-size: 14px;
}

footer p {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    
    
}

#footer {
    display: inline-flex;
    list-style-type: none;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
    padding-left: 10px;
    line-height: 40px;
    bottom: 0;
    border: 1px lightgrey solid;
}
