body {
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: black;
  }

.header {
    float: inline-end;
}

img {
    display: block;
    margin: 0 auto;
    width: 272px;
    max-width: 100%;
    height: 92px;
    padding-top: 6rem;
}

input {
    display: block;
    margin: 0 auto;
    width: 1000px;
    min-width: 20%;
    max-width: 50%;
    margin-top: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    padding: 10px 14px 10px 14px;

}

#dots {
    max-height: 10%;
    max-width: 6%;
}


#country-declarer {
    text-align: start;
    text-decoration: ;
}

p {
    text-align: center;
}

li {
    margin: 4px 7px;
  }

li:hover {
    text-decoration: underline !important;
  }

.search-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

#lang {
    font-family: arial, sans-serif;
    font-size: small;
}

#gsearch {
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-right: 10px;
    background-color:#f0f0f0;
    color: #808080;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#lucky {
    cursor: pointer;
    font-size: small;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-left: 10px;
    background-color:#f0f0f0;
    color: #808080;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

footer {
    float: left;
    color: rgba(0,0,0,.54);
    background-color: lightgrey;
}